@{ 
    var NewsList = (List<ImmiCanada.Entities.News>)ViewData["NewsList"];
    int totalPage = Convert.ToInt32(ViewData["totalPage"]);
}
<div class="row mar-top40px news-list-container">
    <div class="row col-12 remove-paddingright">
        <div class="col-9">
            @{
                foreach (var News in NewsList)
                {
                    <div class="row col-12 news-item mar-bottom30px">
                        <div class="row col-12 news-item-title"><a href="/NewsInterface/Detail/@News.Id"> @News.Title </a></div>
                        @*<div class="row col-12 news-item-sec-title">@Html.Raw(News.Overview)</div>*@
                        <div class="row col-12">
                            <div class="col-2 remove-paddingleft by-canada-visa remove-paddingright">By Canada Visa</div>
                            <div class="count-seen pad-left25px">@News.NumberOfView</div>&nbsp;
                            <div class="count-like pad-left25px">@News.NumberOfLike</div>&nbsp;
                            <div class="count-message pad-left25px">999</div>
                        </div>
                        <div class="row col-12">
                            <div class="col-4 remove-paddingleft">
                                <img src="@News.Base64Image" class="img-fluid" onclick="window.location.href='/NewsInterface/Detail/@News.Id'" />
                            </div>
                            <div class="col-8">
                                @*@Html.Raw(String.Join(" ", System.Text.RegularExpressions.Regex.Replace(News.Description, "<.*?>", String.Empty).Split().Take(50).ToArray()))*@
                                @Html.Raw(News.Overview)
                                <br />
                                <p class="read-more"><a href="/NewsInterface/Detail/@News.Id">[Đọc thêm...]</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
            @*<div class="row col-12 news-item">
                <div class="row col-12 news-item-title">Quebec phát hành hướng dẫn để chuẩn bị cho người nhập cư cho "thử nghiệm giá trị" mới</div>
                <div class="row col-12 news-item-sec-title">Người nhập cư đến Quebec sẽ được yêu cầu vượt qua "thử nghiệm giá trị" bắt đầu từ ngày 1 tháng 1</div>
                <div class="row col-12">
                    <div class="col-2 remove-paddingleft by-canada-visa remove-paddingright">By Canada Visa</div>
                    <div class="count-seen pad-left25px">999</div>&nbsp;
                    <div class="count-like pad-left25px">999</div>&nbsp;
                    <div class="count-message pad-left25px">999</div>
                </div>
                <div class="row col-12">
                    <div class="col-4 remove-paddingleft">
                        <img src="../Content/images/tin-nhap-cu-4.jpg" class="img-fluid" />
                    </div>
                    <div class="col-8">
                        Chính phủ Quebec đã cung cấp chi tiết mới về bài kiểm tra giá trị được gọi là các ứng cử viên nhập cư sẽ phải vượt qua để đủ điều kiện lựa chọn của tỉnh
                        <br />
                        <p class="read-more">[Đọc thêm...]</p>
                    </div>
                </div>
            </div>*@

            <div class="row mar-top15px">
                <div class="col-12">
                    <ul class="pagination">
                        @{ 
                            for (int i = 0; i < totalPage; i++)
                            {
                                <li class="page-item"><a class="page-link" href="javascript: window.location.href='@string.Format("/NewsInterface/Index?page={0}", i+1)'">@(i + 1)</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-3 remove-paddingright">
            <div class="news-ads">
                <img class="img-fluid" src="../Content/images/QC1.jpg" />
                <img class="img-fluid" src="../Content/images/QC2.jpg" />
            </div>
            <div class="right-contact">
                <div class="row col-sm-12 mar-botttom6px"><h3>Liên hệ tư vấn</h3></div>
                <div class=" row col-sm-8 offset-2 mar-botttom6px">
                    <img src="~/Content/images/support-employee.jpg" class="img-fluid" />
                </div>
                <div class="row col-sm-12 mar-top10px"><h5 class="suppor-already-title">Chuyên viên đã sẵn sàng hỗ trợ</h5></div>
                <div class="row col-sm-10 offset-1 suppor-already-title-sec mar-botttom6px">Tư vấn hoàn toàn miễn phí</div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="text-small-center real-estate">
                            <span><strong>Định cư Canada</strong></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-call-support full-width mar-top10px" onclick="javascript: window.location.href='tel:0948009988'"><i class="fa fa-phone mar-right3px" aria-hidden="true"></i>Gọi chuyên viên ngay</button>
                    </div>
                </div>
                <div class="row mar-bottom10px mar-top10px">
                    <div class="col-sm-12 text-center">Hoặc</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="https://www.facebook.com/dichvucanadavisa/" target="_blank" class="chat-to-revert">Chát với Canada Visa</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>