@{
    List<ImmiCanada.Entities.News> News = (List<ImmiCanada.Entities.News>)ViewData["NewsPolitics"];
}
<div class="row mar-top25px news-index news-politics">
    <div class="row col-12 remove-paddingright one-two-news-item">
        <div class="col-6 pos-rel remove-paddingleft remove-paddingright left-banner">
            <img src="@News[0].Base64Image" class="full-width height297px" />
            <div class="new-item-main-title pad-left15px pad-top15px pad-bot10px">@News[0].Title</div>
            <div class="row new-sec-info pad-left15px">
                <div class="col-3 grey-text-color">By Canada</div>
                <div class="count-seen">@News[0].NumberOfView</div>
                <div class="count-like">@News[0].@News[0].NumberOfLike</div>
                <div class="count-message">999</div>
            </div>
            <div class="pad-left15px pad-top10px pad-bot10px grey-text-color">
                @Html.Raw(News[0].Overview)
            </div>
        </div>
        <div class="col-6 pos-rel remove-paddingright pad-left30px">
            <div class="row right-banner">
                <div class="col-4 remove-paddingleft remove-paddingright"><img src="@News[1].Base64Image" class="full-width" /></div>
                <div class="col-8 remove-paddingleft">
                    <div class="new-item-main-title-left pad-left15px pad-top15px pad-bot10px">@News[1].Title</div>
                    <div class="row new-sec-info pad-left15px">
                        <div class="col-5 grey-text-color">By Canada</div>
                        <div class="count-seen">@News[1].NumberOfView</div>
                        <div class="count-like">@News[1].NumberOfLike</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
            <div class="row right-banner mar-top15px">
                <div class="col-4 remove-paddingleft remove-paddingright"><img src="@News[2].Base64Image" class="full-width" /></div>
                <div class="col-8 remove-paddingleft">
                    <div class="new-item-main-title-left pad-left15px pad-top15px pad-bot10px">@News[2].Title</div>
                    <div class="row new-sec-info pad-left15px">
                        <div class="col-5 grey-text-color">By Canada</div>
                        <div class="count-seen">@News[2].NumberOfView</div>
                        <div class="count-like">@News[2].NumberOfLike</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
            <div class="row right-banner mar-top15px">
                <div class="col-4 remove-paddingleft remove-paddingright"><img src="@News[3].Base64Image" class="full-width" /></div>
                <div class="col-8 remove-paddingleft">
                    <div class="new-item-main-title-left pad-left15px pad-top15px pad-bot10px">@News[3].Title"</div>
                    <div class="row new-sec-info pad-left15px">
                        <div class="col-5 grey-text-color">By Canada</div>
                        <div class="count-seen">@News[3].NumberOfView"</div>
                        <div class="count-like">@News[3].NumberOfLike"</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
            <div class="row right-banner mar-top15px">
                <div class="col-4 remove-paddingleft remove-paddingright"><img src="@News[4].Base64Image" class="full-width" /></div>
                <div class="col-8 remove-paddingleft">
                    <div class="new-item-main-title-left pad-left15px pad-top15px pad-bot10px">@News[4].Title"</div>
                    <div class="row new-sec-info pad-left15px">
                        <div class="col-5 grey-text-color">By Canada</div>
                        <div class="count-seen">@News[4].NumberOfView"</div>
                        <div class="count-like">@News[4].NumberOfLike"</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>