<div class="row mar-top25px news-sub-menu" >
    <div class="row col-12">
        <div class="col-3 remove-paddingleft">
            <div class="news-main-menu-item">Bản Tin Canada Visa</div>
        </div>
        <div class="col-9 sub-menu-item">
            <div class="row">
                <div class="col margin-auto @(ViewData["submenuActive"].ToString() == "NewsIndex" ? "sub-menu-active" : string.Empty)"><a href="/NewsInterface/Index">Nhập cư</a></div>
                <div class="col margin-auto @(ViewData["submenuActive"].ToString() == "NewsStudyAboard" ? "sub-menu-active" : string.Empty)"><a href="/NewsInterface/NewsStudyAboard">Du Học</a></div>
                <div class="col margin-auto @(ViewData["submenuActive"].ToString() == "NewsTravelling" ? "sub-menu-active" : string.Empty)"><a href="/NewsInterface/NewsTravelling">Du Lịch</a></div>
                <div class="col margin-auto @(ViewData["submenuActive"].ToString() == "NewsIndex" ? "sub-menu-active" : string.Empty)"><a href="/NewsInterface/NewsStudyAboard">Chính Trị</a></div>
                <div class="col margin-auto @(ViewData["submenuActive"].ToString() == "NewsImmigrationStory" ? "sub-menu-active" : string.Empty)"><a href="/NewsInterface/NewsImmigrationStory">Câu Chuyện Nhập Cư</a></div>
            </div>
        </div>
    </div>
</div>