@model IEnumerable<ImmiCanada.Entities.ImmigrationService>

<p>
    @Html.ActionLink("Thêm chương trình", "Create")
</p>
<table class="table">
    <tr>
        <th width="300">
            Chương Trình
        </th>
        <th width="220">
            Loại Chương Trình
        </th>
        <th width="200">
            Địa Điểm
        </th>
        <th width="200">
            Thường Trú Nhân
        </th>
        <th width="200">
            Thời Gian
        </th>
        <th width="200">
            Phí Dịch Vụ
        </th>
        <th width="150">
            Hình 1
        </th>
        <th width="150">
            Hình 2
        </th>
        <th width="150">
            Hình 3
        </th>
        <th width="150">
            Hình 4
        </th>
        <th width="150">
            Hình 5
        </th>
        <th width="250">
</tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ImmigrationServiceType.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State1.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PermanentResident1.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fee)
    </td>
    <td>
        @if (@item.Base64Image1.Length != 0)
        {
            <img width="100" height="100" src="@item.Base64Image1" />
        }
    </td>
    <td>
        @if (@item.Base64Image2.Length != 0)
        {
            <img width="100" height="100" src="@item.Base64Image2" />
        }
    </td>
    <td>
        @if (@item.Base64Image3.Length != 0)
        {
            <img width="100" height="100" src="@item.Base64Image3" />
        }
    </td>
    <td>
        @if (@item.Base64Image4.Length != 0)
        {
            <img width="100" height="100" src="@item.Base64Image4" />
        }
    </td>
    <td>
        @if(@item.Base64Image5.Length != 0)
        {
            <img width="100" height="100" src="@item.Base64Image5" />
        }
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
