<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=140057183061041&autoLogAppEvents=1" nonce="yRruhlDd"></script>
    <div class="full-width">
        <div class="row top-banner">
            <div class="offset-2 col-sm-3">CHUYENVIENTUVANCANADA@GMAIL.COM</div>
            <div class="col-sm-2">
                <i class="fa fa-phone mar-right3px" aria-hidden="true"></i>090 191 4768
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm">
                        <i class="fa fa-key mar-right3px" aria-hidden="true"></i>CHÍNH SÁCH BẢO MẬT
                    </div>
                    <div class="col-sm">
                        <i class="fa fa-money mar-right3px" aria-hidden="true"></i>CHÍNH SÁCH HOÀN TIỀN
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="Content/images/logo.png" class="img-fluid main-logo" />
                </div>
                <div class="col-sm-10 slogan">
                    TẦM NHÌN CỦA BẠN, TƯƠNG LAI GIA ĐÌNH BẠN
                </div>
            </div>
            <div class="row main-menu">
                <div class="menu-item"><a href="#">TRANG CHỦ</a></div>
                <div class="menu-item pos-rel">
                    <a href="#divCanadaDetails" for="divCanadaDetails" data-toggle="collapse"
                       aria-controls="divCanadaDetails" aria-expanded="false" class="collapsed">CANADA</a>
                    <div id="divCanadaDetails" aria-expanded="false" class="collapse row">
                        <div class="col-sm canada-detail-background">
                            <div class="main-pri-text">CANADA</div>
                            <div class="secondary-text">ĐẤT NƯỚC ĐÁNG SỐNG</div>
                            <img src="Content/images/chatluongcuocsong.jpg" class="full-width" />
                        </div>
                        <div class="col-sm bor-right">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">LỢI ÍCH THƯỜNG TRÚ NHÂN (PR)</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">QUYỀN LỢI TRẺ EM VÀ GIA ĐÌNH</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">GIÁO DỤC VÀ HỖ TRỢ SINH VIÊN</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                        <div class="col-sm bor-right">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">GIA ĐÌNH VÀ SỨC KHỎE</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">QUYỀN LỢI TRẺ EM VÀ GIA ĐÌNH</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">HỖ TRỢ KINH DOANH VÀ TÀI TRỢ</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">HỘ CHIẾU QUYỀN LỰC</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item pos-rel">
                    <a href="#divCanadaStates" for="divCanadaStates" data-toggle="collapse" aria-controls="divCanadaStates"
                       aria-expanded="false" class="collapsed">TỈNH BANG</a>
                    <div id="divCanadaStates" aria-expanded="false" class="collapse row">
                        <div class="col-sm canada-detail-background">
                            <div class="main-pri-text">GIỚI THIỆU TỈNH BANG</div>
                            <img src="Content/images/chatluongcuocsong.jpg" class="full-width" />
                        </div>
                        <div class="col-sm bor-right">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">ALBERTA</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">BRITISH COLUMBIA</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">MANITOBA</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">NEW BRUNSWICK</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                        <div class="col-sm bor-right">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">NEWFOUNDLAND VÀ LABRADOR</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">VÙNG LÃNH THỔ TÂY BẮC</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">NOVA SCOTIA</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">NUNAVUT</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">ONTARIO</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">ĐẢO HOÀNG TỬ EDWARD (PEI)</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">QUEBEC</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item pos-rel">
                    <a href="#divImmigrationService" for="divImmigrationService" data-toggle="collapse"
                       aria-controls="divImmigrationService" aria-expanded="false" class="collapsed">DỊCH VỤ NHẬP CƯ</a>
                    <div id="divImmigrationService" aria-expanded="false" class="collapse row">
                        <div class="col-sm canada-detail-background">
                            <div class="main-pri-text">CHƯƠNG TRÌNH NHẬP CƯ CANADA</div>
                            <img src="Content/images/chatluongcuocsong.jpg" class="full-width" />
                        </div>
                        <div class="col-sm">
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">SACATCHEWAN EXPERIENCE</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">EXISTING WORK PERMIT</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                            <div class="row pad-bot10px">
                                <span class="col-sm-12 pri-text">HOSPITALITY SECTOR PROJECT</span>
                                <span class="col-sm-12 sec-text">
                                    Được phép hợp pháp sống, làm việc và ở bất kỳ nơi đâu tại
                                    Canada
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item"><a href="#">VIỆC LÀM</a></div>
                <div class="menu-item"><a href="#">TẠI SAO CHỌN CHÚNG TÔI</a></div>
                <div class="menu-item"><a href="#">BẢN TIN NHẬP CƯ</a></div>
                <div class="menu-item"><a href="#">ĐÁNH GIÁ MIỄN PHÍ</a></div>
            </div>
            <div class="row main-banner">
                <div class="col-sm-6 pad-left65px">
                    <div class="homepage-title-service">DỊCH VỤ</div>
                    <div class="homepage-title-settle">VIỆC LÀM, ĐẦU TƯ ĐỊNH CƯ</div>
                    <div class="homepage-title-canada">CANADA</div>
                    <div class="homepage-title-success">
                        Thành công của khách hàng là động lực để chúng tôi phát triển và
                        hoàn thiện mỗi ngày
                    </div>
                    <div class="homepage-contact-button">
                        <input type="button" id="btnContact" value="LIÊN HỆ TƯ VẤN" />
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="container footer">
        <div class="row">
            <div class="col-sm-3">
                <div class="col-sm-12 text-center">
                    <img src="Content/images/logo.png" class="img-fluid main-logo" />
                </div>
                <div class="col-sm-12">
                    <p class="main-text-foot">Việc làm định cư đầu tư Canada</p>
                    <p class="sec-text-foot">Chúng tôi hỗ trợ và hướng dẫn gia đình Việt Nam nhập cư Canada bằng cách hoàn thành các mục tiêu của họ về thường trú nhân.</p>
                    <p class="sec-text-foot">Nếu bạn đang tìm kiếm một giải pháp nhập cư hoặc hỗ trợ nhập cư vào Canada, hãy liên hệ với chúng tôi.</p>
                </div>
            </div>
            <div class="col-sm-3 contact-info">
                <h5>Thông Tin Liên Hệ</h5>
                <hr class="contact-info-line" />
                <p>Tầng 14 Tòa nhà HM, 421 Nguyễn Thị Minh Khai, Q3, TP.HCM</p>
                <p>
                    Hotline: <i class="fa fa-phone mar-right3px" aria-hidden="true"></i> (+84) 948 00 9988
                </p>
                <p>Email: <i class="fa fa-envelope-o" aria-hidden="true"></i> info@canadavisa.vn</p>
            </div>
            <div class="col-sm-3 client-support">
                <h5>Hỗ Trợ Khách Hàng</h5>
                <hr class="contact-info-line" />
                <a href="#">Liên hệ chúng tôi</a><br />
                <a href="#">Về chúng tôi</a><br />
                <a href="#">Chính sách bảo mật</a><br />
                <a href="#">Câu hỏi thường gặp</a>
            </div>
            <div class="col-sm-3">
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
