@{
    @model ImmiCanada.Entities.ImmigrationService

    ViewBag.Title = "Chi Tiết Chương trình đầu tư";
    Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
}
<style>
    .row {
        margin-right: 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.pgwSlider').pgwSlider({
            listPosition: 'right',
            transitionEffect: 'sliding',
            maxHeight: 440
        });
    });
</script>
<div class="row">
    <div class="col-sm-10 offset-1">
        <ul class="pgwSlider">
            <li><img src="@Model.Base64Image2" alt="@Model.State1.Name, Canada" data-description="@Model.Title"></li>
            <li><img src="@Model.Base64Image3" alt="@Model.State1.Name, Canada" data-description="@Model.Title"></li>
            <li><img src="@Model.Base64Image4" alt="@Model.State1.Name, Canada" data-description="@Model.Title"></li>
            @*<li>
                    <img src="@Model.Base64Image4">
                    <span>@Model.State1.Name, Canada</span>
                </li>*@
            @*<li>
                    <a href="http://www.nyc.gov" target="_blank">
                        <img src="https://static.pgwjs.com/img/pg/slider/paris.jpg">
                        <span>New York, NY, USA</span>
                    </a>
                </li>*@
        </ul>
    </div>
</div>
<div class="container-fluid service-detail-container">
    <div class="row col-sm-10 offset-1 pad-top40px">
        Tỉnh bang @Model.State1.Name, Canada
    </div>
    <div class="row canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <img src="~/Content/images/left-bg.jpg" class="img-left-icon" /><p class="immigration-service-type-title">@Model.Title</p>
        </div>
    </div>
    <div class="row col-sm-10 offset-1 general-info">
        <div class="col-sm-8 row">
            <div class="col-sm-6 row mar-bottom30px">
                <div class="col-sm-6 text-left remove-paddingleft">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>Địa điểm
                </div>
                <div class="col-sm-6">@Model.State1.Name</div>
            </div>
            <div class="col-sm-6 row">
                <div class="col-sm-6 text-left">
                    <i class="fa fa-server" aria-hidden="true"></i>Loại chương trình
                </div>
                <div class="col-sm-6">@Model.ImmigrationServiceType.Name</div>
            </div>
            <div class="col-sm-6 row">
                <div class="col-sm-6 text-left remove-paddingleft">
                    <i class="fa fa-address-book" aria-hidden="true"></i>Thường trú nhân
                </div>
                <div class="col-sm-6">@Model.PermanentResident1.Name</div>
            </div>
            <div class="col-sm-6 row">
                <div class="col-sm-6 text-left">
                    <i class="fa fa-hourglass-o" aria-hidden="true"></i>Thời gian
                </div>
                <div class="col-sm-6">@Model.Time</div>
            </div>
        </div>
        <div class="col-sm-4 fee-border-left">
            <div class="col-sm-12 row">
                <div class="col-sm-6 text-left">
                    <i class="fa fa-money" aria-hidden="true"></i>Phí dịch vụ
                </div>
                <div class="col-sm-6">@Model.Fee</div>
            </div>
        </div>
    </div>
    <div class="row col-sm-10 offset-1"><hr class="full-width" /></div>
    <div class="row col-sm-11 offset-1">
        <div class="col-sm-8">
            <div class="row">@Html.Raw(Model.Overview)</div>
            <div class="row">@Html.Raw(Model.Description)</div>
        </div>
        <div class="col-sm-3">
            <div class="right-contact">
                <div class="row col-sm-12 mar-botttom6px"><h3>Liên hệ tư vấn</h3></div>
                <div class=" row col-sm-8 offset-2 mar-botttom6px">
                    <img src="~/Content/images/support-employee.jpg" class="img-fluid" />
                </div>
                <div class="row col-sm-12 mar-top10px"><h5 class="suppor-already-title">Chuyên viên đã sẵn sàng hỗ trợ</h5></div>
                <div class="row col-sm-10 offset-1 suppor-already-title-sec mar-botttom6px">Tư vấn hoàn toàn miễn phí</div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="text-small-center real-estate">
                            <span><strong>Định cư Canada</strong></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-call-support full-width mar-top10px" onclick="javascript: window.location.href='tel:0948009988'"><i class="fa fa-phone mar-right3px" aria-hidden="true"></i>Gọi chuyên viên ngay</button>
                    </div>
                </div>
                <div class="row mar-bottom10px mar-top10px">
                    <div class="col-sm-12 text-center">Hoặc</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="https://www.facebook.com/dichvucanadavisa/" target="_blank" class="chat-to-revert">Chát với Canada Visa</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>
