@{
    ViewBag.Title = "Home Page";
    var outstandingServices = (List<ImmiCanada.Entities.ImmigrationService>)ViewData["OutstandingServices"];
}
<style>
    .row {
        margin-right: 0;
    }
</style>
@{
    string GetDetailUrl(ImmiCanada.Entities.ImmigrationService service)
    {
        return convertToUnSign2(string.Format("/dich-vu/tinh-bang-{0}/{1}/{2}", service.State1.Name.ToLower().Replace(" ", "-"), service.Title.ToLower().Replace(" ", "-"), service.Id));
    }

    string convertToUnSign2(string s)
    {
        string stFormD = s.Normalize(System.Text.NormalizationForm.FormD);
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        for (int ich = 0; ich < stFormD.Length; ich++)
        {
            System.Globalization.UnicodeCategory uc = System.Globalization.CharUnicodeInfo.GetUnicodeCategory(stFormD[ich]);
            if (uc != System.Globalization.UnicodeCategory.NonSpacingMark)
            {
                sb.Append(stFormD[ich]);
            }
        }
        sb = sb.Replace('Đ', 'D');
        sb = sb.Replace('đ', 'd');
        return (sb.ToString().Normalize(System.Text.NormalizationForm.FormD));
    }
}
<div class="container-fluid">
    <div class="row pad-top40px" data-aos="fade-up">
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-8 offset-2">
                        @*<i class="fa fa-lightbulb-o" aria-hidden="true"></i>*@
                        <img src="Content/images/daihienhopphap.png" class="img-thumbnail" />
                    </div>

                    <div class="card-body pos-rel">
                        <p class="card-title">Đại Diện Hợp Pháp</p>
                        <p class="card-text text-center">
                            Luật sư di trú của chúng tôi sẽ đại diện cho khách hàng ở Việt Nam liên quan đến lĩnh vực di trú, đầu tư tại đất nước Canada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-8 offset-2">
                        <img src="Content/images/uytinchuyennghiep.png" class="img-thumbnail" />
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Uy Tín - Chuyên Nghiệp</p>
                        <p class="card-text text-center">
                            Chúng tôi luôn đặt chữ tín lên hàng đầu, luôn hỗ trợ, và làm đúng với những gì đã cam kết với khách hàng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-8 offset-2">
                        <img src="Content/images/danhgiamienphi.png" class="img-thumbnail" />
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Đánh Giá Miễn Phí</p>
                        <p class="card-text text-center">
                            Có nhiều cách để nhập cư Canada. Chúng tôi cung cấp những lời khuyên và các giải pháp phù hợp trên tất cả các danh mục hiện có.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-8 offset-2">
                        <img src="Content/images/chuyengianhapcu.png" class="img-thumbnail" />
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Chuyên gia xuất nhập cảnh</p>
                        <p class="card-text text-center">
                            Tất cả luật sư & tư vấn của chúng tôi chuyên về Luật Di Trú để đảm bảo trường hợp của bạn được giải quyết đúng đắn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <img src="Content/images/left-bg.jpg" class="img-left-icon" />
            <p>CANADA</p>
            &nbsp; QUỐC GIA ĐÁNG SỐNG
        </div>
        @*<hr class="hoz-line-fee" />*@
        <div class="row col-sm-12 text-justify">
            Đằng sau sự giàu có và thành công của một quốc gia là các chính sách tạo ra các khả năng, những thúc đẩy nỗ lực và lịch sử định hình môi trường và quan điểm.
            Bảng xếp hạng của một quốc gia đáng sống nhất được dựa trên một số đặc điểm và 9 phần quan trọng ngày đây tạo nên thứ hạng tổng thể, góp phần tạo nên quốc gia đáng sống
        </div>
        <div class="row">
            <div class="col-sm-12 canada-deserve-to-life-introduction">
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-chatluongcuocsong" src="Content/images/chatluongcuocsong1.jpg" />
                        <p class="center-note">CHẤT LƯỢNG CUỘC SỐNG</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyencongdan" src="Content/images/quyencongdan.png" />
                        <p class="center-note">QUYỀN CÔNG DÂN</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyenluc" src="Content/images/quyenluc.png" />
                        <p class="center-note">QUYỀN LỰC</p>
                    </div>
                </div>
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-mochodoanhnghiep" src="Content/images/mochodoanhnghiep.jpg" />
                        <p class="center-note">MỞ CHO DOANH NGHIỆP</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-giaoduc" src="Content/images/giaoduc.jpg" />
                        <p class="center-note">GIÁO DỤC</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-nuoidayconcai" src="Content/images/nuoidayconcai.png" />
                        <p class="center-note">NUÔI DẠY CON CÁI</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-minhbach" src="Content/images/minhbach.png" />
                        <p class="center-note">MINH BẠCH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-trusochinhcuatongcongty" src="Content/images/trusochinhcuatongcongty.jpg" />
                        <p class="center-note">TRỤ SỞ CHÍNH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-phunu" src="Content/images/phunu.png" />
                        <p class="center-note">PHỤ NỮ</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-5">
                <div class="row">
                    <img class="img-fluid full-width" src="Content/images/tieuchixephang.png" />
                </div>
                <div class="ranking-criteria">
                    Tiêu chí xếp hạng
                </div>
                <div class="">
                    Đằng sau sự giàu có và thành công của một quốc gia là các chính sách tạo ra các khả năng, những thúc đẩy nỗ lực và lịch sử định hình môi trường và quan điểm.
                    <br />
                    Bảng xếp hạng của một quốc gia đáng sống nhất được dựa trên một số đặc điểm và 9 phần quan trọng ngày đây tạo nên thứ hạng tổng thể, góp phần tạo nên quốc gia đáng sống
                </div>
            </div> -->
        </div>
    </div>
    <div class="row pad-top40px">
        <div class="offset-1 col-sm-10 remove-paddingleft">
            <img class="card-img-top" src="~/Content/images/lien-he-canada-visa.jpg" />
        </div>
    </div>
    <div class="row pad-top40px">
        <div class="offset-1 col-sm-10 remove-paddingleft">
            @{Html.RenderAction("WorkRecommended", "WorkInterface");}
        </div>
    </div>
    <div class="row pad-top40px">
        <div class="offset-1 col-sm-10 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỈNH BANG</p>
                    &nbsp; TRỌNG ĐIỂM
                </div>
            </div>
        </div>
        <div class="offset-1 col-sm-10">
            <div id="state-flag" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="" src="~/Content/images/UrbanFlags/alberta.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/bristish-columbia.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/manitoba.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/new-brunswicks.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/Newfoundland.jpg" />
                    </div>
                    <div class="carousel-item">
                        <img class="" src="~/Content/images/UrbanFlags/nova-scotia.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/prince-edward-island.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/quebec.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/saskatchewa.jpg" />
                        <img class="" src="~/Content/images/UrbanFlags/Artboard.jpg" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#state-flag" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#state-flag" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>

        </div>
    </div>

    <div class="row pad-top40px canada-deserve-to-life document-handling-container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-sm-12 document-handling min-height300px">
            <div class="col-sm-12 document-handling-pri-text">
                Dịch vụ nhập cư Canada dành cho cá nhân và gia đình Việt Nam
            </div>
            <div class="col-sm-10 offset-1 document-handling-sec-text">
                Canada Visa hỗ trợ các cá nhân và gia đình Việt Nam điều chỉnh các yêu cầu pháp lý, quy định và chính phủ khác nhau xung quanh quá trình nhập cư vào Canada. Mục tiêu của chúng tôi là cung cấp quy trình xin thị thực liền mạch và hiệu quả.
            </div>
            <div class="offset-3 col-sm-6 pad-top40px text-search-free-evaluate">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
                    </span>
                    <input class="form-control py-2 border-left-0 border" type="search" value="Kiểm tra cơ hội của bạn ngay bây giờ" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            ĐÁNH GIÁ MIỄN PHÍ
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row pad-top40px mar-top60px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <img src="Content/images/left-bg.jpg" class="img-left-icon" />
            <p>CHƯỜNG TRÌNH</p>
            &nbsp; NỔI BẬT
        </div>
        <div class="row col-sm-12 pad-top40px">
            @foreach (var outstandingservice in outstandingServices)
            {
                <div class="col-sm-4 mar-bottom30px" data-aos="zoom-in-down">
                    <div class="card float-right card-highlight text-right">
                        <img class="card-img-top" src="@outstandingservice.Base64Image1" alt="Card image cap">
                        <div class="card-body pos-rel">
                            <div class="card-main-outstanding-title">@outstandingservice.Title</div>
                            <div class="outstanding-form">
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <i class="fa fa-address-card-o" aria-hidden="true"></i>Địa điểm
                                    </div>
                                    <div class="col-sm-6">@outstandingservice.State1.Name</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <i class="fa fa-address-book" aria-hidden="true"></i>Thường trú nhân
                                    </div>
                                    <div class="col-sm-6">@outstandingservice.PermanentResident1.Name</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <i class="fa fa-money" aria-hidden="true"></i>Phí dịch vụ
                                    </div>
                                    <div class="col-sm-6">@outstandingservice.Fee</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <i class="fa fa-hourglass-o" aria-hidden="true"></i>Thời gian
                                    </div>
                                    <div class="col-sm-6">@outstandingservice.Time</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <i class="fa fa-server" aria-hidden="true"></i>Loại chương trình
                                    </div>
                                    <div class="col-sm-6">@outstandingservice.ImmigrationServiceType.Name</div>
                                </div>
                            </div>
                            <div class="row outstanding-form-footer">
                                <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" onclick="javascript: window.location.href='@GetDetailUrl(outstandingservice)'" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="full-width pad-top20px text-center">
            @Html.ActionLink("XEM TẤT CẢ", "Index", "Service", null, new { @class = "btn-view-all-services" })
        </div>
    </div>

    <div class="row pad-top40px gold-opportunity">
        <div class="col-sm-5 offset-2">
            <p><strong>Cơ hội vàng nằm gọn trong tay bạn</strong></p>
            <div class="pad-top15px">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Đánh giá tính đủ điều kiện của bạn theo luật di trú Canada
            </div>
            <div class="pad-top15px">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Bắt đầu quy trình hồ sơ
            </div>
            <div class="pad-top15px">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Chuyên nghiệp tư vấn cho bạn các bước cần thiết, đảm bảo tất cả các yêu cầu pháp lý được đáp ứng
            </div>
            <p class="pad-top20px"><strong>Liên hệ với chúng tôi hôm nay</strong></p>
            <div class="contact-us-image">
                <img class="" src="~/Content/images/Download on the App Store.png" />
                <img class="" src="~/Content/images/Download on the CH Play.png" />
            </div>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/Gold-Opportunity.jpg" class="img-thumbnail" />
        </div>
    </div>

    <div class="row pad-top40px why-choose-us">
        <div class="col-sm-4 offset-1">
            <img class="img-thumbnail full-height" src="~/Content/images/tiepcanthitruongtoancau.png" />
        </div>
        <div class="row col-sm-6 why-choose-us-grey-bk">
            <div class="col-sm-12">
                <p><strong>Tại sao chọn chúng tôi</strong></p>
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Các đánh giá tích cực đã được xác minh với hồ sơ thành công tuyệt vời
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Dịch vụ nhanh chóng, dễ dàng và thuận tiện với việc nộp đơn đăng ký trực tuyến
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-diamond" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Phí rất cạnh tranh và phải chăng với các gói thanh toán linh hoạt
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-university" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Quy trình hoàn toàn minh bạch và rõ ràng để cung cấp thông tin cho bạn
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-cube" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Tư vấn chi tiết và tư vấn pháp lý từ các tư vấn di trú đủ điều kiện
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-diamond" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Các giải pháp nhập cư hoàn chỉnh và hiệu quả từ đầu đến cuối
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-heart" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Theo dõi và xem xét lại quy trình để đảm bảo tiêu chuẩn dịch vụ cao nhất
            </div>
            <div class="col-sm-1 mar-top20x"><i class="fa fa-plane" aria-hidden="true"></i></div>
            <div class="col-sm-5 mar-top20x">
                Quan trọng nhất: giúp bạn đạt được hiệu quả tích cực
            </div>
        </div>
    </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life document-handling-container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <img src="Content/images/left-bg.jpg" class="img-left-icon" />
            <p>QUY TRÌNH</p>
            &nbsp; XỬ LÝ HỒ SƠ
        </div>
        @*<hr class="hoz-line-fee" />*@
        <div class="col-sm-12 document-handling">
            <div class="col-sm-12 document-handling-pri-text">
                DỊCH VỤ VIỆC LÀM ĐẦU TƯ ĐỊNH CƯ CANADA
            </div>
            <div class="col-sm-10 offset-1 document-handling-sec-text">
                Cung cấp dịch vụ nhập cư với sự hỗ trợ của các chuyên gia nhập cư tốt nhất. Chúng tôi hướng dẫn các ứng viên quan tâm lựa chọn các lựa chọn visa PR tốt nhất, đánh giá cơ hội xin visa,
                hỗ trợ ứng viên trong các thủ tục xin visa và thủ tục PR.
            </div>
            <div class="col-sm-12 document-handling-section-detail">
                <div class="row mar-bottom60px">
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Tiếp nhận hồ sơ khách hàng</p>
                            CANADA VISA tiếp nhận. Luật sư di trú thẩm đinh hoàn toàn đánh giá chuyên sâu về tính đủ điều kiện và kế hoạch nhập cư phù hợp.
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-deaf" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Cung cấp và giải pháp</p>
                            Chúng tôi cung cấp cho bạn các giải pháp phù hợp dựa trên mục tiêu và nhu cầu của bạn.
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Ký kết hợp đồng</p>
                            Sau khi khách hàng đồng ý tham gia chương trình, CANADA VISA tiền hành soạn thảo ký kết hợp đồng soạn thảo.
                        </div>
                    </div>
                </div>
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Quản lý hồ sơ</p>
                            CANADA VISA lập group để khách hàng tương tác trực tiếp với team xử lý hồ sơ tại Việt Nam.
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Thủ tục giấy tờ</p>
                            Tiến hành thủ tục giấy tờ, nộp đơn, đệ trình biểu mẫu và tài liệu. Tất cả đều phải được biên soạn chính xác và hoàn thành chính xác và nộp trong thời hạn chặt chẽ. RCIC của chúng tôi thay mặt bạn giải quyết vấn đề này.
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            <p class="document-handling-section-detail-sec-title">Kết quả</p>
                            Chúng tôi thông báo cho bạn về tình trạng và kết quả hồ sơ của bạn từ lúc bắt đầu đến khi hoàn tất.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row pad-top40px canada-map" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-sm-12 pos-rel">
            <img class="img-fluid full-width" src="Content/images/map canada.png" />
            <div class="canada-map-des">
                <p class="canada-map-first-text">CANADA</p>
                <p class="canada-map-sec-text">NƠI HẠNH PHÚC NGẬP TRÀN</p>
            </div>
        </div>
    </div>*@
    <div class="pad-top40px">&nbsp;</div>
    @{Html.RenderAction("InterestedSection", "Home");}
    @*<hr class="news-line-top" />*@
    @*@{Html.RenderAction("NewsSlide", "Home");}*@
